<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </head>
  <body>
    <div ng-controller="ourFirstController as first">
      {{first.thingOne}}
      {{first.thingTwo}}

      <input ng-model="first.name" type="text" name="" value="">
      {{first.name}}

   <!-- I grabbed this from W3 Schools to test it out.
   It sounds as though ng-app defines an Angular app.
   The ng-model directive example above, from class,
   binds the value of HTML controls (input, select,
   textarea)-->
   <div ng-app="">
     <p>Name : <input type="text" ng-model="name"></p>
       <h1>Hello {{name}}</h1>

   <div ng-controller="ourSecondController as second">
     {{second.thingOne}}
     {{second.thingTwo}}
    </div>
    
  </body>
</html>
